@tailwind base;
@tailwind components;
@tailwind utilities;
.loader {
    animation: spinner 0.5s ease infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

.larger {
    animation: large 1s ease-in-out;
}

@keyframes large {
    0% {
        scale: 0.5;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 0.5;
    }
}