@tailwind base;
@tailwind components;
@tailwind utilities;
.open-popup {
    visibility: visible;
    top: 50% !important;
    transform: translate(-50%, -50%) scale(1) !important;
}

#modal {
    transition: transform 1s, top 1s !important;
}

.modal {
    animation: example 1s linear;
}

@keyframes example {
    0% {
        margin-top: 20px;
        transform: scale(0.1);
    }
    25% {
        margin-top: 95px;
        transform: scale(0.25);
    }
    50% {
        margin-top: 170px;
        transform: scale(0.5);
    }
    75% {
        margin-top: 245px;
        transform: scale(0.75);
    }
    100% {
        margin-top: 320px;
        transform: scale(1);
    }
}