@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

form {
    margin-left: auto;
    margin-right: auto;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form div {
    padding-inline: 10px;
    display: flex;
    gap: 5px;
}

input[type="button"] {
    cursor: pointer;
    margin: 10px;
    width: 60px;
    height: 60px;
    padding: auto;
    background-color: transparent;
    font-size: 20px;
    color: aliceblue;
    font-weight: medium;
    border: none;
    border-radius: 5px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#equal {
    width: 140px !important;
}