@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./sky.jpg");
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#rocket {
    animation: example 3s linear infinite;
}

@keyframes example {
    0% {
        bottom: 36px;
        opacity: 0.4;
    }
    25% {
        bottom: 300px;
        opacity: 0.6;
    }
    50% {
        bottom: 450px;
        opacity: 0.8;
    }
    75% {
        bottom: 600px;
        opacity: 1;
    }
    100% {
        bottom: 700px;
        opacity: 1;
    }
}