@tailwind base;
@tailwind components;
@tailwind utilities;
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid transparent;
    border-radius: 50%;
    border-top: 3px solid #3582c5;
    border-right: 3px solid #3582c5;
    width: 35px;
    height: 35px;
    animation: spinner 0.5s ease-in-out infinite;
}

.loader-2 {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid transparent;
    border-radius: 50%;
    border-top: 3px solid #3582c5;
    border-left: 3px solid #3582c5;
    width: 40px;
    height: 40px;
    animation: spinner 1s ease-in-out infinite;
}

.loader-3 {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid transparent;
    border-radius: 50%;
    border-bottom: 3px solid #3582c5;
    border-left: 3px solid #3582c5;
    width: 45px;
    height: 45px;
    animation: spinner 0.7s ease-in-out infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}